# Java相关
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.log
.flattened-pom.xml
dependency-reduced-pom.xml

# 前端相关
**/node_modules/
**/dist/
**/build/
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnp
**/.pnp.js
**/coverage/

# 分发打包相关
dist/
dist_*/
*.zip
*.exe
*.jar
portable/

# IDE相关
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
**/.history/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# 操作系统相关
.DS_Store
Thumbs.db
Desktop.ini

# 临时文件
*.swp
*.swo
*~
*.tmp
*.bak
*.orig

# 日志文件
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 其他
.env
.env.*
!.env.example
.cache/
.temp/
/person-web/person-web-ui/node_modules/
